<!DOCTYPE html>
<html lang="pl">
<head>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('https://kit.fontawesome.com/34d5627880.js') }}" crossorigin="anonymous"></script>
    {% endblock %}
    <meta charset="UTF-8">
    <title>Dodaj Terapeute</title>
</head>
<body>
<div class="base-container">
    {% include("shared/navbar.html.twig") %}
    <main>
       <div class ="add-user">
           <h1> There we can add new therapist</h1>
       </div>
    </main>
</div>
</body>
</html>