<!DOCTYPE html>
<html lang="en">
<head>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('js/menu_toggle.js') }}"></script>
        <script src="{{ asset('https://kit.fontawesome.com/34d5627880.js') }}" crossorigin="anonymous"></script>

    {% endblock %}
    <meta charset="UTF-8">
    <title>Mój Profil</title>
</head>
<body>
<div class="base-container">
    {% include("shared/navbar.html.twig") %}
    <main>
        <h1 style="align-items: center">Witaj na swoim profilu!</h1>
    </main>
</div>
</body>
</html>