<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mój Profil</title>
</head>
<body>
<div class="base-container">
    <header>
        <img class="logo" src="{{ asset('img/logo.svg') }}" alt="logo">
        <nav>

            <ul class = "menu">

                <li>
                    <a href="kids" class="nav-button">DZIECI</a>
                </li>
                <li>
                    <a href="therapists" class="nav-button">TERAPEUCI</a>
                </li>
                <li>
                    <a href="exercises" class="nav-button">ZADANIA</a>
                </li>
                <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 style="align-items: center">Witaj na swoim profilu!</h1>
    </main>
</div>
</body>
</html>